<table cellpadding="0" cellspacing="0">
	<tr>
	    <td bgcolor="#ed5335" style="border-color: #ed5335; border: 2px solid #ed5335; padding: 3px 10px;text-align: center;">
	        <a style="display: block;color: #ffffff;font-size: 12px;text-decoration: none;text-transform: uppercase;"
	            href="{{ item_url_path }}">
	            Shop
	        </a>
	    </td>
	</tr>
</table>