<tr>
	<td width="120" align="left" valign="center"
		style="color:#74787E; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;word-break: break-word;
				box-sizing: border-box;
				font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
				word-break: break-word;
				border-bottom-color: #cbcccd;
				border-bottom-style: solid;
				border-bottom-width: 1px; {{ first_style }}">
		{{ barcode }}
	</td>
	<td width="179" align="left" valign="center"
	 style="color:#74787E; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;word-break: break-word;
			box-sizing: border-box;
			font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
			word-break: break-word;
			border-bottom-color: #cbcccd;
			border-bottom-style: solid;
			border-bottom-width: 1px; {{ first_style }}">
		<a href="{{ item_url_path }}" style="color: #74787E;">{{ name }}</a>
	</td>
	<td width="177" align="left" style="color:#74787E;box-sizing: border-box;
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
	word-break: break-word;
	border-bottom-color: #cbcccd;
	border-bottom-style: solid;
	border-bottom-width: 1px; {{ first_style }}">{{ product_option_html }}</td>
	<td width="29" valign="center" align="center"
	 style="color:#74787E; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;word-break: break-word;
			box-sizing: border-box;
			font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
			word-break: break-word;
			border-bottom-color: #cbcccd;
			border-bottom-style: solid;
			border-bottom-width: 1px; {{ first_style }}">
		{{ quantity }}
	</td>
	<td width="89" valign="center" align="right"
	 style="color:#74787E; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;word-break: break-word;
			box-sizing: border-box;
			font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
			word-break: break-word;
			border-bottom-color: #cbcccd;
			border-bottom-style: solid;
			border-bottom-width: 1px; {{ first_style }}">
		&#x24;{{ total }}
	</td>
</tr>