<tr style="min-height: 131px;">
	<td colspan="6" style="box-sizing: border-box;
			   font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
			   word-break: break-word;
			   border-bottom-color: #cbcccd;
               border-bottom-style: solid;
               padding: 20px 0;
			   border-bottom-width: 1px; {{ first_style }}">
		<table bgcolor="#ffffff" width="100%" cellspacing="0" cellpadding="0" style="color:#74787E;">
			<tr>
				<td class="product_image" align="center" width="30%" height="100%" class="purchase_item" rowspan="2" style="margin-bottom: 5px; min-height: 131px;">
					<img src="{{ image_url }}" style="width: 90%; max-width: 100%; height: auto;" alt="" class="fr-fic fr-dii">
				</td>
				<td align="center" width="40%" rowspan="2" class="purchase_item" style="color:#74787E; min-height: 131px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 15px; line-height: 26px; word-break: break-word;">
					<table width="100%" style="min-height: 131px;">
						<tr><td style="color:#74787E;">{{ brand }}</td></tr>
						<tr><td><a href="{{ item_url_path }}" style="color: #74787E;">{{ name }}</a></td></tr>
						<tr><td style="color:#74787E;">{{ barcode }}</td></tr>
						<tr><td style="color:#74787E;">{{ product_option_html }}</td></tr>
						<tr><td style="color:#74787E;">{{ final_sale }}</td></tr>
					</table>
				</td>
				<td width="30%" height="100%" valign="top">
					<table width="100%" height="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left" height="32px" width="50%" style="color:#74787E;" width="29">QTY:</td>
                            <td align="right" height="32px" width="50%" style="color:#74787E;">SUBTOTAL</td>
                        </tr>
                        <tr>
                            <td align="right" height="32px" style="color:#74787E;" width="29">
                            	<table width="100%" height="100%" cellspacing="0" cellpadding="0">
			                        <tr>
			                            <td align="left" height="32px" width="50%">
			                                <table cellpadding="0" cellspacing="0">
			                                    <tr>
			                                        <td style="border-color: black; border: 1px solid black; padding: 3px 10px;text-align: center;">
			                                            <span style="display: block; color: #74787E; font-size: 12px;text-decoration: none;text-transform: uppercase;">{{ quantity }}</span>
			                                        </td>
			                                    </tr>
			                                </table>
			                            </td>
			                            <td align="right" height="32px" width="50%">{{ shop_button }}
			                            </td>
			                        </tr>
			                    </table>
                            </td>
                            <td align="right" height="32px" style="color:#74787E;">&#x24;{{ total }}</td>
                        </tr>
                        <tr>
                            <td align="right" height="35px" style="color:#74787E;" width="29"><br/></td>
                            <td align="right" height="33px" style="color:#74787E;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
		</table>
	</td>
</tr>